h1{
    color: red;
    font-family: Arial;
    font-style: Bold;
    font-size: 400%;
    text-align: center;
}

p{
    color: white;
    
    font-family:Arial;

    text-align: justify;

    font-size: 200%;
}
body{
    background-color: rgb(15, 12, 46);
}
h2{
    color: whitesmoke;
    font-size: 300%;
    text-align: center;
}